.items{
margin: 0 auto;
padding: 0;
width: 1170px;

}
.items ul{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  
}
.items ul li{
  float: none; display: inline-block; 
  position: relative;
}
.items ul li:nth-child(1){
  float: left;
}
.items ul li:nth-child(2){
  float: left; 
}
.items ul li:nth-child(3){
  float: left; 
}
.items ul li a{
  margin-top: 35px;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  color: black;
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
}
.items ul li a:hover{
  color: orange;
}
.navbar{
  width: 100%;
  position: relative;
  min-height: 125px;
  
}
.logo img{
  width: 250px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 0%;
  margin-left: -125px;
  margin-top: 30px;
}
.video h1{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFF;
  font-size: 6rem;
  transform: translate(-50%, -50%);
}
.video video{
  height: 100%;
  width: 100%;
  min-height: 550px;
  object-fit: cover;
  z-index: -1;
  left: 0px;
  top: 0px;
}
.items ul li ul.dropdown li{
  width: 100%;
  display: block;
  background-color: white;
  /*box-shadow: 0px 8px 16px 0px rgba(163, 61, 61, 0.2);*/
  border-radius: 3px;
  text-align: left;
  background-color: rgb(255, 255, 255, 0.8);

}
.items ul li ul.dropdown{

  width: 200;
  position: absolute;
  z-index: 999;
  display: none;
  top: 100%;
  left: 0; 
  
  
 
}
.items ul li ul.dropdown li a:hover{
  color: orange;
}
.items ul li:hover ul.dropdown{
  display: grid;
  
}
.items ul li ul.dropdown li a{
  margin-top: 0px;
  padding: 10px 20px;
}
.items ul li button{
color: #FFF;
background-color: #C15627;
border-radius: 30px;
padding: 5px 13px;
text-wrap: nowrap;
/*top: -5px;*/
position: relative;
transition: .5s;
font-size: 13px;
text-transform: uppercase;
border-color: #FFF;
margin: 2px;
}
.items ul li button:hover{
  opacity: 1;
  background-color: rgb(241, 130, 19);
}